/*======================
    Mailing Address Side by Side - contact.html
=======================*/
.mailing-address-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px; /* Gap between the addresses when side by side */
}

.mailing-address-item {
    display: inline-block;
    margin-bottom: 16px;
    max-width: 400px; /* Set a maximum width for each address item */
}

@media (max-width: 1210px) {
    .mailing-address-container {
        gap: 16px; /* Reduce gap between the addresses when they are stacked */
    }

    .mailing-address-item {
        flex-basis: 100%;
    }
}

/*======================
    Form
=======================*/

.glenn-contact-form {

    width:50%;
    vertical-align: top;
    float: right;
    /* background-color: #5cb85c; */
}

@media screen and (max-width: 1000px) {
    .hide-on-tablet-screen {
        display: none;
    }
}


.formbold-mb-5 {
    margin-bottom: 20px;
}
.formbold-pt-3 {
    padding-top: 12px;
}
.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.formbold-form-wrapper {
    margin-top: -50px;
    margin-left: -85px;
    max-width: 550px;
    width: 100%;
    background: white;
}
.formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #3d3d3e;
    margin-bottom: 12px;
}
.formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}
.formbold-form-input:focus {
    border-color: #ff0062;
    box-shadow: 0px 3px 8px rgba(229, 44, 44, 0.05);
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #ac2d2d;
    color: white;
    width: 100%;
    cursor: pointer;
}
.formbold-btn:hover {
    background-color: #df2424;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-btn:disabled {
    background-color: #797979;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
}
.formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.w-full {
    width: 100%;
}
@media (min-width: 540px) {
    .sm\:w-half {
        width: 50%;
    }
}

/*======================
    Contact Slider
=======================*/


.contact-text-scroller {
	margin: 0;
	/*font-size: 20px;*/
	letter-spacing: -0.03em;
}

section {
	display: grid;
	grid-template-columns: max-content max-content;
	gap: 0.1vw;
}

.contact-height-container {
	height: 0;
    /*font-size:20px;*/
	min-height: 100%;
}

.contact-transition-container {
	height: 100%;
	overflow: hidden;
  transform: translateZ(0);
  /* ^ Needed for 'overflow: hidden' and 'transform' to work in Safari */
}

ul.contact-ul-slider {
	margin: 0;
	padding: 0;
	list-style-type: none;
	animation: listSlider 12s cubic-bezier(0.7, 0.1, 0.1, 1) infinite;
}

@keyframes listSlider {
  /* Progress steps: 100 / # of steps excluding '100%'
     'translateY' values: 100 / # of items */
	0%, 7.143% { /* Item 1 */
		transform: none;
	}
	14.286%, 21.429% { /* Item 2 */
		transform: translateY(-12.5%);
	}
	28.572%, 35.715% { /* Item 3 */
		transform: translateY(-25%);
	}
	42.858%, 50% { /* Item 4 */
		transform: translateY(-37.5%);
	}
	57.144%, 64.287% { /* Item 5 */
		transform: translateY(-50%);
	}
	71.43%, 78.573% { /* Item 6 */
		transform: translateY(-62.5%);
	}
	85.716%, 92.859% { /* Item 7 */
		transform: translateY(-75%);
	}
	100% { /* Item 8: Duplicate of 1 */
		transform: translateY(-87.5%);
	}
}
/*======================
    Short URL List
=======================*/

.short-url-list-wrapper {
    display: none; /* initially hidden */
}

ol.short-url-list {
    counter-reset: li;
    padding-left: 2.5rem;
    padding: .25rem 0 .25rem 3.75rem; }

ol.short-url-list small {
    color: #b1b0b0; 
    line-height: 0.2 !important;
}

ol.short-url-list ol, ol.short-url-list ul {
      padding: .75rem 0 0 1.5rem; }

ol.short-url-list li {
      margin-bottom: 1rem; }

ol.short-url-list > li {
      position: relative;
      counter-increment: li;
      min-height: 4rem;
      padding-top: 0;
      list-style: none; }

ol.short-url-list > li::before, ol.short-url-list > li::after {
        position: absolute;
        display: flex;
        opacity: 0.35; }

ol.short-url-list > li::before {
        content: counter(li);
        left: -2.75rem;
        top: 0;
        height: calc(2.4rem - 1px);
        width: calc(2.4rem - 1px);
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid currentcolor; }

ol.short-url-list > li::after {
        content: '';
        left: -1.75rem;
        top: calc(2rem + 3px);
        height: calc(100% - 2.5rem);
        border-left: 1px solid currentcolor; }

.short-url-or {
    font-size: small; 
    font-weight:bold;
}
  