/*======================
    Mailing Address Side by Side - contact.html
=======================*/
.mailing-address-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px; /* Gap between the addresses when side by side */
}

.mailing-address-item {
    display: inline-block;
    margin-bottom: 16px;
    max-width: 400px; /* Set a maximum width for each address item */
}

@media (max-width: 1210px) {
    .mailing-address-container {
        gap: 16px; /* Reduce gap between the addresses when they are stacked */
    }

    .mailing-address-item {
        flex-basis: 100%;
    }
}

/*======================
    Form
=======================*/

.glenn-contact-form {

    width:50%;
    vertical-align: top;
    float: right;
    /* background-color: #5cb85c; */
}

@media screen and (max-width: 1000px) {
    .hide-on-tablet-screen {
        display: none;
    }
}


.blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    0% { opacity: 1; }
    20% { opacity: 0; }
    40% { opacity: 1; }
}



.formbold-mb-5 {
    margin-bottom: 20px;
}
.formbold-pt-3 {
    padding-top: 12px;
}
.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.formbold-form-wrapper {
    margin-top: -50px;
    margin-left: -85px;
    max-width: 550px;
    width: 100%;
    background: white;
}
.formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #3d3d3e;
    margin-bottom: 12px;
}
.formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}
.formbold-form-input:focus {
    border-color: #ff0062;
    box-shadow: 0px 3px 8px rgba(229, 44, 44, 0.05);
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #ac2d2d;
    color: white;
    width: 100%;
    cursor: pointer;
}
.formbold-btn:hover {
    background-color: #df2424;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-btn:disabled {
    background-color: #797979;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
}
.formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.w-full {
    width: 100%;
}
@media (min-width: 540px) {
    .sm\:w-half {
        width: 50%;
    }
}
